.contact-container {
    display: flex;
    flex-direction: row;
    background-color: #4a235a; 
    color: white; 
    padding: 20px; 
  }
  
  .map {
    flex: 1; 
    margin-right: 40px; 
  }
  
  .text-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .email a {
    text-decoration: none; 
    color: white; 
  }
  

  @media only screen and (max-width: 600px) {
    .contact-container {
      flex-direction: column; 
    }
  
    .map {
      margin-right: 0; 
      margin-bottom: 20px; 
    }
  }
  